<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atividades PPM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <a routerLink="/atividade1">Atividade 1</a>
    </ion-item>
    <ion-item>
      <a routerLink="/atividade2">Atividade 2</a>
    </ion-item>
    <ion-item>
      <a routerLink="/atividade3">Atividade 3</a>
    </ion-item>
    <ion-item>
      <a routerLink="/atividade4">Atividade 4</a>
    </ion-item>
    <ion-item>
      <a routerLink="/atividade5">Atividade 5</a>
    </ion-item>
  </ion-list>
</ion-content>